/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 80%;
    width: 90%;
    margin:auto;
  }
  body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
  }